@use './breakpoints' as mix;

.footer-bg {
  background: url("/assets/home/bg-pattern-footer.svg");
  background-repeat: no-repeat;
  background-size: 275%;
  background-position-y: 16rem;
  background-position-x: center;
  background-color: var(--clr-dark);
  margin-top: -865px;

  @include mix.breakpoint(med) {
    background-size: 200%;
    background-position-y: 1.625rem;
    margin-top: -688px;
  }

  @include mix.breakpoint(lrg) {
    background-size: 151%;
    background-position-y: -603px;
    background-position-x: -789px;
    margin-top: -400px;
  }
}
