@use './breakpoints' as mix;

.footer-bg {
  background: url("/assets/home/bg-pattern-footer.svg");
  background-repeat: no-repeat;
  background-size: 275%;
  background-position-y: 16rem;
  background-position-x: center;
  background-color: var(--clr-dark);
  margin-top: -865px;

  @include mix.breakpoint(med) {
    background-size: 200%;
    background-position-y: 1.625rem;
    margin-top: -688px;
  }

  @include mix.breakpoint(lrg) {
    background-size: 151%;
    background-position-y: -603px;
    background-position-x: -789px;
    margin-top: -400px;
  }

  &--signup {
    background: url("/assets/sign-up/bg-pattern-side.svg");
    background-repeat: no-repeat;
    background-color: var(--clr-dark);
    background-position: center, center;
    background-size: contain;
    height: 20rem;
    width: 100%;
    margin-top: -250px;

    @include mix.breakpoint(lrg) {
      background-size: 438%;
      background-position-y: -684px;
      background-position-x: -625px;
      position: absolute;
      top: 0;
      right: 0;
      width: 28%;
      height: 100vh;
      margin: 0;
      z-index: -500;
    }

    @include mix.breakpoint(xl) {
      background: none;
    }
  }
}
