@use './breakpoints' as mix;

.header__grid {
  background: url('/assets/home/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-size: 27.75rem;
  background-position-y: -174px;
  background-position-x: -40px;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 2.875rem 1.5rem;

  @include mix.breakpoint(med) {
    background-size: 41.625rem;
    background-position-y: -206px;
    background-position-x: 24rem;
    text-align: left;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1.875rem 31.25rem;
    place-items: initial;
    align-items: center;
    padding: 4.5rem 2.5rem 0 2.5rem;
  }

  @include mix.breakpoint(lrg) {
    background-size: 70.875rem;
    background-position-y: -508px;
    background-position-x: 40.6rem;
    padding: 5.0625rem 10.3125rem 0 10.3125rem;
  }

  &-logo {
    width: 9.6875rem;
    height: 1.875rem;

    @include mix.breakpoint(med) {
      grid-column: 1 / 2;
      grid-row: 1/ 2;
    }
  }

  &-graph {
    width: 50%;
    margin-top: 5rem;

    @include mix.breakpoint(med) {
      grid-column: 2 / -1;
      grid-row: 2 / 3;
      width: auto;
      margin-left: 2.125rem; 
      margin-top: 2.1875rem;
    }

    @include mix.breakpoint(lrg) {
      margin-left: 3.125rem; 
      margin-top: 8.125rem;
    }
  }

  .cta {
    max-width: 33.75rem;
    margin-top: 4rem;

    .cta__descrip {margin: 1.5rem 0;}

    @include mix.breakpoint(med) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin-top: 0;
    }

    @include mix.breakpoint(lrg) {margin-top: 6.25rem;}
  }

  &--form {
    @include mix.breakpoint(med) {
      background: none;
      text-align: center;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      padding: 4.5rem 2.5rem 0 2.5rem;
    }
  }

  .cta--form {
    @include mix.breakpoint(med) {
      place-self: center;
      margin-top: 104px;
      margin-bottom: 1rem;
    }
  }
}


