@use '../layout/breakpoints' as mix;

.countdown {
  max-width: 1265px;
  text-align: center;
  padding-top: 56.6875rem;
  padding-bottom: 6.25rem;
  margin: 0 auto;

  @include mix.breakpoint(med) {padding-top: 40.9375rem;}

  @include mix.breakpoint(lrg) {
    padding-top: 19.125rem;
    padding-bottom: 0;
  }

  &__flex {
    @include mix.breakpoint(lrg) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 5.4375rem;

      .btn {
        width: 10.9375rem;
        height: 3.4375rem;
      }
    }
  }

  &__release {
    font-size: 1rem;
    letter-spacing: 0.3125rem;

    &-light {color: var(--clr-white);}

    &-accent {color: var(--clr-accent);}

    &--dark {color: var(--clr-headers);}
  }

  .countdown-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1.125rem 0 2.25rem;

    .countdown-card {
      background-color: var(--clr-headers);
      padding-top: 0.6875rem;
      width: clamp(72px, 12vw, 100px);
      height: clamp(92px, 12vw, 128px);
     
      &__num {
        font-weight: 700;
        font-size: clamp(2rem, 5vw, 3.5rem);
        color: var(--clr-white);

        &--dark {color: var(--clr-accent);}
      }

      &__text {
        color: var(--clr-white-opac);
        font-weight: 700;
        font-size: clamp(0.75rem, 2vw, 1rem);
        opacity: 0.5;

        &--dark {color: var(--clr-headers);}
      }
    }

    .countdown-card--light {background-color: var(--clr-accent-opac);}
  }
}

.countdown--signup {
  padding-top: 0;
  padding-bottom: 4rem;
}
